<div class="col-md-12 text-right">
  <div class="'cart_icon" (click)="NavigateToCart()">
    <em class="bi bi-cart"></em>
  </div>
</div>
<!-- <button type="button" (click)="fetchproduct()">
  click here to see the products
</button> -->
<div class="container">
  <table class="table">
    <caption></caption>
    <thead>
      <td>Product</td>
      <td>Product Name</td>
      <td>Product Price</td>
      <td>Add</td>
      <td>Quantity</td>
      <td>Reduce</td>
      <td>stock</td>

      <td scope="col">Total</td>
      <td scope="col">balance</td>
      <td scope="col">your wishlist</td>
      <td scope="col"></td>
    </thead>
    <tbody>
      <tr *ngFor="let pro of product">
        <td scope="row"><img src="{{ pro.pro_img }}" width="100px" /></td>

        <td scope="row">{{ pro.pro_name }}</td>
        <td scope="row">₹{{ pro.pro_price }}</td>
        <td>
          <button type="button" class="btn text-dark" (click)="inc(pro)">
            <em class="bi bi-plus"></em>
          </button>
        </td>
        <td scope="row">
          <span>{{ pro.quantity }}kg</span>
        </td>
        <td>
          <button type="button" class="btn text-dark" (click)="dec(pro)">
            <em class="bi bi-file-minus"></em>
          </button>
        </td>

        <td scope="row">{{ pro.total_Qty }}</td>

        <td>
          {{ pro.quantity * pro.pro_price || "" }}
        </td>
        <td>
          {{ pro.total_Qty - pro.quantity || "" }}
        </td>

        <div class="addtocart">
          <button padding (click)="addCart(pro)">Add To Cart</button>
        </div>
      </tr>
    </tbody>
  </table>
  <button padding (click)="cart()">confirm your products</button>
</div>
