<div class="back">
  <label for="back" class="text-light-center"
    >previous
    <a routerLink="/vinfo" class="text-primary"
      ><em class="bi bi-arrow-return-left"></em></a
  ></label>
</div>

<div class="col-md-12 text-right">
  <div class="cart_icon" (click)="NavigateToCart()">
    <em class="bi bi-cart">{{ this.api.cartcount }}</em>
  </div>
</div>

<div class="container">
  <table id="products" class="table">
    <th></th>
    <caption></caption>
    <thead class="heading">
      <td>Product</td>
      <td>Product Name</td>
      <td>Product Price</td>
      <td class="btn2"><em class="bi bi-plus-square-fill"></em></td>
      <td>Quantity</td>
      <td class="btn2"><em class="bi bi-dash-square-fill"></em></td>
      <td>TotalAmount</td>
      <td>Your wishlist</td>
    </thead>
    <tbody>
      <tr *ngFor="let pro of product">
        <td>
          <img src="{{ pro.pro_img }}" width="100px" alt="pro_img" />
        </td>
        <td>{{ pro.pro_name }}</td>
        <td>₹{{ pro.pro_price }}</td>
        <td>
          <button type="button" class="bts" (click)="inc(pro)">
            <em class="bi bi-plus"></em>
          </button>
        </td>
        <td>
          <span>{{ pro.quantity }}kg</span>
        </td>
        <td>
          <button type="button" class="bts" (click)="dec(pro)">
            <em class="bi bi-file-minus"></em>
          </button>
        </td>

        <td>₹{{ pro.quantity * pro.pro_price || "" }}</td>

        <td>
          <div class="addtocart">
            <button padding (click)="addCart(pro)" (click)="this.api.count()">
              Add To Cart
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
