    
    
      .cart_icon{
        font-size: 60px;
        color:black;
        position: relative;
        top: 6px;
        right: -1206px;
     
      }
      .thead{
        background-color: green;
      }
      
      button{
        color:blue;
        font-size: 21px;
        border:none;
        background: white;
      }
      .addtocart{
        font-size: 21px;
    
      }
.btn2{
    font-size: 21px;
    color:blue;
}
#products {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #products td, #products th {
    border: 1px solid rgb(17, 17, 17);
    padding: 8px;
  }
  
  #products tr:nth-child(even){background-color: #f2f2f2;}
  
  #products tr:hover {background-color: #ddd;}
  
  #products th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    color:rgb(36, 8, 8);

  }
 .heading{
    color:black;
  }
  td{
    text-align: center;
    font-weight: 300;
  }