<section class="cart_section">
  <div class="container">
    <h2>Your Cart</h2>

    <table class="table bg-white rounded shadow-sm table-hover">
      <caption></caption>
      <thead>
        <th>Image</th>
        <th>productName</th>

        <th>price</th>
        <th class="bts"><em class="bi bi-plus-square-fill"></em></th>
        <th>Quantity</th>
        <th class="bts"><em class="bi bi-dash-square-fill"></em></th>

        <th>totalPrice</th>
      </thead>
      <tr *ngFor="let prod of product">
        <td>
          <img src="{{ prod.pro_img }}" width="100px" alt="productimage" />
        </td>
        <td>{{ prod.pro_name }}</td>
        <td>{{ prod.pro_price }}</td>
        <td>
          <button type="button" class="qbtn" (click)="inc(prod)">
            <em class="bi bi-plus"></em>
          </button>
        </td>

        <td>{{ prod.quantity }}</td>
        <td>
          <button type="button" class="qbtn" (click)="dec(prod)">
            <em class="bi bi-file-minus"></em>
          </button>
        </td>
        <td>{{ prod.pro_price * prod.quantity }}</td>
      </tr>
      <tr>
        <td colspan="4"></td>
        <td>
          <button class="btn1" padding (click)="order()">
            place your order
          </button>
        </td>
        <td>
          <button class="btn2" (click)="backcart()">Add more products</button>
        </td>
        <td>
          <button class="btn3">Subtotal:{{ total }}</button>
        </td>
      </tr>
    </table>
  </div>
</section>
