header{
    background: rgb(159, 156, 156);
    padding: 20px 0;
}
.cart_icon{
    position:relative;
    cursor:pointer;
}
.cart_icon:focus{
    outline: none;
    border:none;

}
.cart_icon{
    font-size: 24px;
    color:white;
}
.qbtn{
  font-size: 24px;
  color:blue
}
.bts{
  font-size: 24px;
  color:blue;
}
.total{
  text-align: center;
  margin-bottom: 80px;
  margin-left: 70%;
font-size: 30px;
  width: 300px;
  padding: 20px;
  background-color: lightgrey;
  border: 15px solid green;}
.btn1{
  text-align: center;
    background-color: lightgrey;
    width: 300px;
    border: 15px solid green;
    padding: 10px;
    font-size: 30px;
    margin: 50px;
    margin-bottom: 120px;
 
}
.btn2{
  text-align: center;
    background-color: lightgrey;
    width: 300px;
    border: 15px solid green;
    padding: 10px;
    font-size: 30px;
    margin: 50px;
    margin-bottom: 120px;
}
.cart_value{
  
    position: absolute;
    top: 120px;
    right: 0;
    /* padding-top:80px; */
    background: white;
    border: 1px solid #ccc;
    border-radius: 50%;
    /* padding: 0px 10px; */
    padding-bottom: 4px;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 4px;
}
.text-right{
text-align: right;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
.cart_section{
    padding: 40px,0;
}

td{
  text-align: center;
}
th{
  text-align: center;
}
.btn{
  background-color: blue;
}