<body>
  <div class="container mt-5">
    <div class="card mx-auto">
      <div class="card-header">
        <h1 class="text-center text-dark">User Sign-up Form</h1>
      </div>
      <div class="card-body mx-auto">
        <form class="myform" [formGroup]="registerform">
          <div class="field">
            <label for="username" class="text-dark">User Name :</label>
            <input
              type="text"
              formControlName="username"
              id="username"
              class="form-control"
              placeholder="Enter your Name here"
            />
            <span
              class="text-danger"
              *ngIf="
                registerform.controls['username'].touched &&
                registerform.hasError('required', 'username')
              "
            >
              *Name is required!!</span
            >
          </div>

          <div class="field">
            <label for="phone" class="text-dark">Phone Number :</label>
            <input
              type="number"
              formControlName="phone"
              id="phone"
              class="form-control"
              placeholder="Enter Mobile Number"
            />
            <span
              class="text-danger"
              *ngIf="
                registerform.controls.phone.errors &&
                registerform.controls.phone.touched
              "
            >
              <br />Invalid Mobile Number
            </span>
          </div>

          <div class="field">
            <label for="gmail" class="text-dark">Gmail :</label>
            <input
              type="text"
              formControlName="email"
              id="email"
              class="form-control"
              placeholder="Enter your gmail"
            />
            <span
              class="text-danger"
              *ngIf="
                registerform.controls.email.errors &&
                registerform.controls.email.touched
              "
            >
              <br />Invalid Email Address
            </span>
          </div>
          <div class="field">
            <label for="address" class="text-dark">Address :</label>
            <input
              type="text"
              formControlName="address"
              id="address"
              class="form-control"
              placeholder="Enter your Name here"
            />
            <span
              class="text-danger"
              *ngIf="
                registerform.controls['address'].touched &&
                registerform.hasError('required', 'address')
              "
            >
              *Address is required!!</span
            >
          </div>

          <div class="field">
            <label for="password" class="text-dark">Password :</label>
            <input
              type="password"
              formControlName="password"
              name="password"
              id="password"
              class="form-control"
              placeholder="Enter your password"
            />
            <span
              class="text-danger"
              *ngIf="
                registerform.controls.password.errors &&
                registerform.controls.password.touched
              "
            >
              <br />Atleast 5 character Password is Required
            </span>
          </div>

          <div class="buttons text-center">
            <button
              type="submit"
              class="btn btn-dark"
              (click)="register(this.registerform.value)"
            >
              Register
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</body>
