<label for="back" class="text-light-center"
  >previous
  <a routerLink="/dashboard" class="text-primary"
    ><em class="bi bi-arrow-return-left"></em></a
></label>

<div class="container" *ngIf="mydata.length == 0">
  <h1>No Records</h1>
</div>

<table
  class="table bg-white rounded shadow-sm table-hover"
  *ngIf="mydata.length >= 1"
>
  <caption></caption>
  <thead>
    <tr>
      <th scope="col">VendorName</th>
      <th scope="col">Phone</th>
      <th scope="col">Email</th>
      <th scope="col">Address</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of alluser">
      <td>{{ user.userData.username }}</td>
      <td>{{ user.userData.phone }}</td>
      <td>{{ user.userData.email }}</td>
      <td>{{ user.userData.address }}</td>
      <td>
        <button class="btn btn-success" (click)="orderview(user)">order</button>
      </td>
    </tr>
  </tbody>
</table>
