*{
  margin:0;
}
.container{
  display: grid;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    padding: 4%;
  }
  .welcome{
    font-size: 33px;
    color:blue;
   position: fixed;
   margin-left: 33%;
   padding:0;
   text-align: center;
   background-color: pink;


  }
 