<header>
  <div class="container">
    <div class="col-md-12 text-right">
      <div class="'cart_icon" routerLink="/cart">
        <i class="bi bi-cart"></i>

        <div class="cart_value">2</div>
      </div>
    </div>
  </div>
</header>
<section class="cart_section">
  <div class="container">
    <h2>HTML Table</h2>

    <table>
      <tr>
        <th>Image</th>
        <th>price</th>
        <th>Quantity</th>
        <th>subtotal</th>
      </tr>
      <tr>
        <td><img src="../../assets/mulgoba.jpg" alt="p1" /></td>
        <td>₹150</td>
        <td>
          <div class="content">
            <button type="button" class="btn">
              <i class="bi bi-plus"></i>
            </button>
            <span>1</span>
            <button type="button" class="btn">
              <i class="bi bi-file-minus"></i>
            </button>
          </div>
        </td>

        <td>₹150</td>
      </tr>
      total:₹150
      <!-- <tr>
        <td><img src="../../assets/banganapalli.jpg" alt="p2" /></td>
        <td>₹200</td>
        <td>
          <div class="content">
            <button type="button" class="btn">
              <i class="bi bi-plus"></i>
            </button>
            <span>1</span>
            <button type="button" class="btn">
              <i class="bi bi-file-minus"></i>
            </button>
          </div>
        </td>

        <td>₹200</td>
      </tr>
      total:₹200
      <tr>
        <td><img src="../../assets/badami.jpg" alt="p3" /></td>
        <td>₹300</td>
        <td>
          <div class="content">
            <button type="button" class="btn">
              <i class="bi bi-plus"></i>
            </button>
            <span>1</span>
            <button type="button" class="btn">
              <i class="bi bi-file-minus"></i>
            </button>
          </div>
        </td>

        <td>₹300</td>
      </tr>
      total:₹300 -->
    </table>
  </div>
</section>
