<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
  <div class="carousel-indicators">
    <button
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide-to="0"
      class="active"
      aria-current="true"
      aria-label="Slide 1"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide-to="1"
      aria-label="Slide 2"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide-to="2"
      aria-label="Slide 3"
    ></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img
        src="../../assets/home wallpaer1.jpg"
        class="d-block w-100"
        alt="..."
      />
      <div class="carousel-caption">
        <h5>RAINBOW FRUIT FAIRs</h5>
        <p>
          maturity, firmness, the uniformity of size and shape, the absence of
          defects, skin and flesh color.
        </p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="../../assets/home-2.jpg" class="d-block w-100" alt="..." />
      <div class="carousel-caption">
        <h5>Quality</h5>
        <p>
          Fruits and vegetables should be attractive, fresh, nutritive and with
          a good appearance and presentation. Besides these characteristics,
          their consumption should not put health at risk.
        </p>
        <p><a href="#" class="btn btn-warning mt-3"></a></p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="../../assets/home-1.jpg" class="d-block w-100" alt="..." />
      <div class="carousel-caption">
        <h5>healthy beneficials</h5>

        <ul>
          <li>
            Fruits are an excellent source of essential vitamins and minerals,
            and they are high in fiber
          </li>
          <li>
            Fruits also provide a wide range of health-boosting antioxidants,
            including flavonoids
          </li>
        </ul>

        <p><a href="#" class="btn btn-warning mt-3"></a></p>
      </div>
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExampleCaptions"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExampleCaptions"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<section id="about-section-padding">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-12 col-12">
        <div class="about-img">
          <!-- <img src="../../assets/about.jpg" alt="" class="img-fluid" /> -->
        </div>
      </div>
      <div class="col-lg-8 col-md-12 col-12 ps-lg-5 mt-md-5">
        <i class="bi bi-house-fill"></i>
        <div class="about-text">
          <h2>
            healthy and quality <br />
            fruits ever
          </h2>
          <p>
            Quality factors for fruits include the following— maturity,
            firmness, the uniformity of size and shape, the absence of defects,
            skin and flesh color. Many of the same quality factors are described
            for vegetables, with the addition of texture-related attributes such
            as turgidity, toughness, and tenderness.
          </p>
          <a href="#" class="btn btn-warning">Learn more</a>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="services" class="services section-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-header text-center pb-5">
          <i class="bi bi-hearts"></i>
          <h2>Famous palces</h2>
          <p>
            Nagpur: Oranges. The city of Nagpur is the major producer of oranges
            in India and is also known as the Orange City. Himachal Pradesh:
            Apples. ... Goa: Cashew nuts. ... Mahabaleshwar: Strawberry. ...
            Allahabad: Guavas. ... Ratnagiri: Alphanso Mangoes. ... Maharashtra:
            Bananas. ..
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row1">
    <div class="col-12 col-md-12 col-lg-4">
      <div class="card text-white text-center bg-dark pb-2">
        <div class="card-body">
          <i class="bi bi-heart"></i>
          <h3 class="card-title">healthiest fruits</h3>
          <p class="lead">
            Calories: 150 Protein: 1 gram Sugar: 36.5 grams Fat: 0.2 grams
            Carbs: 40 grams Fiber: 3.5 grams
          </p>
        </div>
      </div>
    </div>
  </div>
  <br />
  <br />

  <div class="row1">
    <div class="col-12 col-md-12 col-lg-4">
      <div class="card text-white text-center bg-dark pb-2">
        <div class="card-body">
          <i class="bi bi-file-person"></i>
          <h3 class="card-title">Sustainability</h3>
          <p class="lead">
            having a cost that is not too high products sold at affordable
            prices an affordable purchase affordable housing
          </p>
        </div>
      </div>
    </div>
  </div>
  <br />
  <br />

  <div class="row1">
    <div class="col-12 col-md-12 col-lg-4">
      <div class="card text-white text-center bg-dark pb-2">
        <div class="card-body">
          <i class="bi bi-tree"></i>

          <h3 class="card-title">tree planting</h3>
          <p class="lead">
            What is the importance of trees and fruit? Apart from providing you
            with the sheer joy of picking out fresh fruit without stepping out
            of your home, fruit trees can also contribute to a healthy
            ecosystem. Fruit trees produce fresh oxygen, giving you and your
            family cleaner air to breathe, as well as encouraging wildlife to
            flourish.
          </p>
        </div>
      </div>
    </div>
  </div>
  <br />
  <br />
  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="footer-col">
          <h4>company</h4>
          <ul>
            <li><a href="#">about us</a></li>
            <li><a href="#">our services</a></li>
            <li><a href="#">privacy policy</a></li>
            <!-- <li><a href="#">affiliate program</a></li> -->
          </ul>
        </div>
        <div class="footer-col">
          <h4>get help</h4>
          <ul>
            <!-- <li><a href="#">FAQ</a></li> -->
            <li><a href="#">shipping</a></li>
            <!-- <li><a href="#">returns</a></li> -->
            <li><a href="#">order status</a></li>
            <!-- <li><a href="#">payment options</a></li> -->
          </ul>
        </div>
        <div class="footer-col">
          <h4>fruits and vitamins</h4>
          <ul>
            <li><a href="#">cherries-VitaminB2</a></li>
            <li><a href="#">buleberries-vitaminB1</a></li>
            <li><a href="#">banana-vitaminC</a></li>
            <li><a href="#">apple-vitaminA</a></li>
          </ul>
        </div>
        <div class="footer-col">
          <h4>follow us</h4>
          <div class="social-links">
            <a href="#"><i class="bi bi-facebook"></i></a>
            <a href="#"><i class="bi bi-twitter"></i></a>
            <a href="#"><i class="bi bi-instagram"></i></a>
            <a href="#"><i class="bi bi-linkedin"></i></a>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <!-- </div> -->
</section>
