<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <div class="navbar-header">
        <img
          width="30px"
          height="30px"
          alt="img"
          src="../../assets/f-icon 1.png"
        />
        <a class="navbar-brand">Rainbow Fruit Fair</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="homepage" routerLinkActive="active"
            ><em class="bi bi-house"></em>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="login"
            ><em class="bi bi-file-person-fill"></em
          ></a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="contact"
            ><em class="bi bi-info-circle"></em
          ></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="logout()"
            ><em class="bi bi-box-arrow-right"></em
          ></a>
        </li>
      </ul>
    </div>
  </nav>
  <div></div>
</body>
