<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <div class="navbar-header">
        <img width="30px" height="30px" src="../../assets/f-icon 1.png" />
        <a class="navbar-brand">Rainbow Fruit Fair</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="homepage" routerLinkActive="active"
            >Home</a
          >
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="admin">Admin Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="vendor">vendor-login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="contact">Contact Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="pdtls">pdtls</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="plist">purchased List</a>
        </li>
      </ul>
    </div>
  </nav>
  <div></div>
</body>
