<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Rainbow Fruit Fair</a>
      <a class="navbar-brand" href="#"
        >Purchase Order And Inventory Control System</a
      >
    </div>
    <ul class="nav navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="homepage" routerLinkActive="active"
          >homepage</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="products" routerLinkActive="active"
          >products</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="admin" routerLinkActive="active"
          >Admin Login</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="vendor" routerLinkActive="active"
          >vendor-login</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="contact" routerLinkActive="active"
          >Contact Us</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="about" routerLinkActive="active"
          >About Us</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="admindashboard"
          routerLinkActive="active"
          >Admin-Dashboard</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="header" routerLinkActive="active"
          >header</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="cart" routerLinkActive="active">cart</a>
      </li>
    </ul>
  </div>
</nav>
<div></div>
