<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fruity</title>
  </head>
  <body>
    <div class="container">
      <div class="navbar">
        <img src="../../assets/logo.png" class="logo" />
        <nav>
          <ul>
            <li><a href="">Home</a></li>
            <li><a href="">admin</a></li>
            <li><a href="">user</a></li>
            <li><a href="">contact us</a></li>
          </ul>
        </nav>
        <img src="../../assets/cart.png" class="cart" />
      </div>
      <div class="content">
        <a href="" class="btn"> fruity products</a>
        <h1>You Should always feel fresh</h1>
        <p>Fruit that are really freshly squeezed</p>
        <div class="arrow-icons">
          <img src="../../assets/back-arrow.png" />
          <img src="../../assets/next-arrow.png" />
        </div>
      </div>
      <img src="../../assets/img.png" class="feature-img" />
      <div class="social-links">
        <a href="">FACEBOOK</a>
        <a href="">INSTAGRAM</a>
        <a href="">TWITTER</a>
      </div>
    </div>
  </body>
</html>
