<div class="row my-5">
  <h3 class="fs-4 mb-3">Recent Orders</h3>
  <div class="col">
    <table class="table bg-white rounded shadow-sm table-hover">
      <thead>
        <tr>
          <th scope="col">productName</th>

          <th scope="col">Quantity</th>
          <th scope="col">price</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let prod of alluser">
          <td scope="row">{{ prod.pro_name }}</td>

          <td scope="row">{{ prod.quantity }}</td>
          <td scope="row">{{ prod.pro_price }}</td>
        </tr>
      </tbody>
    </table>
    <br />
  </div>
</div>
